*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100vw;
    height: 100vh;
    font-family: DM Sans;
    .signup{
        nav {
            width: 100%;
            height: 8%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
            border: 1px solid white;
            position: fixed;
          }
          
          nav h3 {
            font-family: Allura;
            font-size: 2rem;
            padding-left: 5%;
            padding-top: 1.5%;
            color: cadetblue;
            width: 20%;
            display: inline-block;
          }
          
          nav ul {
            float: right;
            padding-top: 2%;
          }
          
          nav li {
            font-size: 1rem;
            margin-right: 29px;
            display: inline-block;
            font-family: DM Sans;
            font-weight: bold;
            color:black;
            text-decoration: none;
          }
          nav li a{
            font-size: 1rem;
            font-family: DM Sans;
            font-weight: bold;
            color:black;
            text-decoration: none;
          }
          
          nav li a:hover{
            font-weight: bold;
            color:#00BEAC;
            text-decoration: dashed;
          }
        
      
    .container{
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(1,100%);
        background-color: #e6ffff;
        min-height: 80vh;
        .grid{
            background-color: #0ca296;
            background-image: linear-gradient(160deg, #0ca296 0%, #ffffff 100%);
            #but1{
                display: block;
                margin: 0 auto;
                margin-top: 25%;
                width: 60%;
                height: 8%;
                border-radius: 25px;
                background-color: #fff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
                color:#0CA296;
                font-weight: bold;
                border: 1px solid white;
            }
            #but1:hover{
                background-color:#0ca296;
                color:white;

            }
            h3 {
                font-family: Allura;
                font-size: 2rem;
                padding-left: 5%;
                padding-top: 1.5%;
                color: white;
                width: 20%;
                display: inline-block;
                
              }
            button{
                display: block;
                margin: 0 auto;
                margin-top: 5%;
                width: 60%;
                height: 8%;
                border-radius: 25px;
                background-color: #fff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
                color:#0CA296;
                font-weight: bold;
                border: 1px solid white;
            }
            button:hover{
                background-color: #0ca296;
                color: white;

            }

        }
        .form{
            margin-top:10%;
            background-color: #fff;
            height: 60%;
        
            margin-left: 12%;
            margin-right: 12%;
            width: 80%;
            button{
                display: block;
                margin: 0 auto;
                margin-top: 5%;
                width: 60%;
                height: 3rem;
                border-radius: 25px;
                background-color:#0ca296;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
                color:white;
                font-weight: bold;
                border: 1px solid white;
            }
            button:hover{
                background-color: white;
                color: #0ca296;
            }

            .row{
                padding: 5px 0px 5px;
                width: 100%;
                margin-left: 10%;
                
                .label1{
                    
                    display:block;
                    height: 35px;
                    width: 100%;
                    color: rgb(29, 28, 28);
                    background-color: #fff  ;
                   
                   }
            input{
                width: 70%;
                height: 35px;
                border: 1px solid grey;
                outline: none;
                transition: 0.2s;
                padding-left: 5%;
            }
            input:focus{
                color: #0ca296;
                border: 1px solid #0ca296;
         
            }
            label{
               
                display:block;
                height: 35px;
                width: 25%;
                color: #000;
                
            }
      
           .radio{
               width: 10%;
               height: 20px;

           }
          
        }
        }
    }


input[type=submit]{
    width: 50%;

}

   @media only screen and(max-width:600px){
    html .container .form .row label, body .container .form .row label{
        width:90%;

        display: block;
       }
       html .container .form .row input, body .container .form .row input{
           width: 90%;
           display: block;
       }
       html .container .form .row .label1, body .container .form .row .label1{
           display: inline-block;
           padding-right: 15%;
       }
       html .container .form .row .radio, body .container .form .row .radio{
           display: inline-block;
           padding-right: 15%;
           width: 5%;

       }
       html .container .form, body .container .form{
           width: 90%;
       }
   }
   .grid1{
       background-color:#fff;
       h1{
           font-family: DM Sans;
           display: block;
           margin: 0 auto;
           margin-left: 40%;
           margin-top: 13%;
           color: gray;
       }
   }
}
}
